<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidsqlconexion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidsqlconexion.MainActivity"
            android:label="Login_Ejemplo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidsqlconexion.Barra_cargado"
            android:label="Barra Cargado" >
            <intent-filter>
                <action android:name="android.intent.action.Barra_cargado" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidsqlconexion.Menu_principal"
            android:label="menu_principal" >
            <intent-filter>
                <action android:name="android.intent.action.Menu_principal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="Productos" android:name="Menu_productos"></activity>
        <activity android:name="Detalle_Producto"></activity>
        <activity android:name="Lista_Carrito"></activity>
    </application>

</manifest>